.feedback {
  // margin: 0 auto;
  // position: relative;
  padding: 2em 2em;
  background-color: #EFEFEF;
}

.slider__container {
  position: relative;
}

.mySwiper {
  background-color: azure;
}

.swiper-slide {
  text-align: center;
  background-color: #f3f4ad;  
  
}
