@use "@/styles/abstract/functions"; 
@use "@/styles/abstract/variables";

.feedback {
  // margin: 0 auto;
  // position: relative;
  padding: 2em 2em;
  background-color: #EFEFEF;
}

.feedback-header > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vw;
  font-size: functions.rem(28);
  font-weight: 800;

  @media (max-width: variables.$large-screen) {
    font-size: functions.rem(20);
    // margin-bottom: ;
  }
}

.slider__container {
  position: relative;
}

.swiper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 3em 0;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;  // Override Swiper's absolute positioning
  margin: 0;
  background: transparent !important;
  box-shadow: none !important;
  
  &:hover {
    background-color: #0B89FE !important;
    border-radius: 10px !important;

    &::after {
      color: #fff !important;
    }
  }
  
  // Swiper's navigation buttons (prev/next) are actually created using ::after pseudo-elements
  // The circle shape comes from these pseudo-elements, not from the button itself
  // The button's visual appearance (including the circle background) is created by the ::after pseudo-element
  &::after {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none !important;
    border: 1.5px solid #0B89FE;
    border-radius: 10px !important;  /* Remove the circular shape */
    width: 100%;
    height: 100%;
  }
}


.agent-icon-marquee {
  margin: 3em 0;
}

.marquee-content > img {
  object-fit: contain; 
  
  @media (max-width: variables.$large-screen) {
    min-width: 600px;
  }
}