@use '../abstract/functions';
@use '../abstract/variables';
.footer {
  display: flex;
  flex-direction: column;
  background-color: #3C3C3C;
  color: #fff;
  padding: 50px 80px;
  align-items: center;
  
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: space-around;

  @media (max-width: variables.$large-screen) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    gap: functions.rem(40);
  }
  @media (max-width: variables.$medium-screen) {
    grid-template-columns: repeat(1, 1fr);
    justify-items: stretch;
    gap: functions.rem(30);
  }

  // 公司資訊
  &-company {
    display: flex;
    flex-direction: column;
    gap: functions.rem(40) functions.rem(14);
    @media (max-width: variables.$large-screen) {
      gap: functions.rem(10);
    }
    @media (max-width: variables.$medium-screen) {
      gap: functions.rem(10);
    }
  }
  // 服務項目
  &-service {
    display: flex;
    flex-direction: column;
    gap: functions.rem(48);
    @media (max-width: variables.$large-screen) {
      gap: functions.rem(20);
    }
    @media (max-width: variables.$medium-screen) {
      gap: functions.rem(10);
    }
  }
  // 加入官方 LINE
  &-contact {
    display: flex;
    flex-direction: column;
    gap: functions.rem(40);
    @media (max-width: variables.$large-screen) {
      gap: functions.rem(20);
    }
    @media (max-width: variables.$medium-screen) {
      gap: functions.rem(10);
    }

    > img {
      object-fit: contain;
      width: 130px;
    }
  }
  // 關注我們
  &-follow {
    display: flex;
    flex-direction: column;
    gap: functions.rem(35);
    @media (max-width: variables.$large-screen) {
      gap: functions.rem(15);
    }
    @media (max-width: variables.$medium-screen) {
      gap: functions.rem(10);
    }
  }
}

// 公司資訊
.company-logo {
  img {
    max-width: 150px;
  }
}

.company-description {
  font-size: functions.rem(14);
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 5px;
  }
}

// 服務項目
.footer__content-header {
  font-size: functions.rem(18);
  font-weight: bold;
  margin: 0;
}
.footer__content-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: functions.rem(10) functions.rem(20);
  font-size: functions.rem(14);
  p {
    margin: 0;
  }
  @media (max-width: variables.$medium-screen) {
    grid-template-columns: repeat(1, 1fr);
  }
}

// 加入官方 LINE
.footer__contact-header {
  font-size: functions.rem(16);
  font-weight: bold;
  margin: 0;
}

// 關注我們
.footer__content-follow-header {
  font-size: functions.rem(18);
  font-weight: bold;
  margin: 0;
}

.footer__content-follow-item {
  display: flex;
  gap: functions.rem(10);
  img {
    object-fit: contain;
    max-width: 40px;
  }
}

.footer__copyright {
  text-align: center;
  font-size: functions.rem(18);
  font-weight: 600;
  @media (max-width: variables.$medium-screen) {
    text-align: start;
    margin-top: functions.rem(20);
  }
}
