@use '../abstract/variables';
@use '../abstract/functions';
.hero-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('@/assets/images/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  overflow-x: hidden;
  box-sizing: border-box;

  @media (max-width: variables.$medium-screen) {
    background-size:contain;
    background-position: 0% 0%;
  }

  > div {
    width: 100%;
    max-width: 1100px;
  }
  
  .hero-content1-container {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
    
    @media (max-width: variables.$medium-screen) {
      grid-template-columns: 1fr;
      margin: 2rem auto;
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }


    .content1-slogan-container {
      width: 100%; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.5rem;

      @media (max-width: variables.$medium-screen) {
        gap: 2rem;
        order: 1;
      }
    }
    
    .content1-video-container {
      max-width: 435px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      @media (max-width: variables.$medium-screen) {
        order: 2;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

.content1-slogan-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #000;

  p {
    margin: 0.5rem 0;
  }

  &:first-child {
    font-size: 1.5rem;
  }

  img {
    width: 350px;
    height: auto;

    @media (max-width: 430px) {
      width: 150px;
    }
  }

  p:last-of-type {
    font-size: 2rem;

    @media (max-width: 430px) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 430px) {
    align-items: center;
    text-align: center;
  }
}

.content1-slogan-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 3rem;

  @media (max-width: 430px) {
    flex-direction: column;
    gap: 2rem;
    align-self: center;
    width: 60%;
    margin-bottom: 2rem;
  }

  button {
    padding: 0.5rem 2rem;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;

    &:first-child {
      background-image: linear-gradient(to right, #FFEEB7 0%, #FDE46B 100%);
      color: #3E3E3E;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    &:last-child {
      border: 1.5px solid #2094FF;
      color: #2194FF;
    }

    @media (max-width: 430px) {
      font-size: 1.2rem;
    }
  }
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 1rem;
  
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .play-btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80px;
    max-height: 80px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transform: translate(15%, 0);
      max-width: 40px;
      width: 40px;
      height: auto;
    }
  }
}

.hero-content2-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
  padding-top: 8rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
  }

  @media (max-width: 430px) {
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
  }

  > div {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 100%);
    width: 100%;
    max-width: 350px;
    max-height: 180px;
    border-radius: 2rem;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;

    @media (max-width: 430px) {
      max-width: 90%;
      max-height: none;
      padding: 1rem 0;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }

    > .img-container {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;

      > img {
        width: 40px;
        height: 40px;
      }
    }

    > .text-container {
      max-width: 200px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @media (max-width: 430px) {
        max-width: 70%;
      }

      p {
        margin: 0;
        padding: 0;
      }

      p:first-of-type {
        font-size: 1.2rem;
        font-weight: 600;
      }

      p:nth-of-type(2) {
        font-size: 0.5rem;

        @media (max-width: 430px) {
          font-size: 0.7rem;
        }
      }
    }
  }
}

.content2-text1-img {
  background-color: #0B89FE;
}
.content2-text2-img {
  background-color: #FF7A04;
}
.content2-text3-img {
  background-color: #F4C81F;
  position: relative;
}

.hero-content2-text-container3 {
  position: relative;
  
  .msg-img {
    position: fixed;
    top: 60vh;
    left: 90vw;
    width: 80px;
    height: auto;
    object-fit: cover;
    z-index: 10;

    @media (max-width: 430px) {
      top: auto;
      bottom: 20px;
      left: auto;
      right: 20px;
      width: 50px;
    }
  }
}

.hero-content3-container {
  width: 100%;
  margin: 8rem auto 4rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #FFF;
  border-radius: 2rem;
  
  @media (max-width: 430px) {
    margin: 4rem auto 2rem;
    padding-top: 2rem;
    gap: 2rem;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.tools-img-container {
  position: relative;
  width: 100%;
  height: 400px;
  
  @media (max-width: 430px) {
    height: 300px;
    order: 2;
    width: 80%;
  }
  
  @media (min-width: 768px) {
    width: 50%;
  }
  
  .tools-img1, 
  .tools-img2 {
    position: absolute;
    width: 80%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tools-img3,
  .tools-img4 {
    position: absolute;
    width: 80%;
    height: auto;
    img {
      width: 200px;

      @media (max-width: 430px) {
        width: 120px;
      }
    }
  }
  
  .tools-img1 {
    top: 0px;
    left: 240px;
    width: 400px;
    z-index: 1;

    @media (max-width: 430px) {
      top: 0px;
      left: 120px;
      width: 200px;
    }
  }
  
  .tools-img2 {
    top: 150px;
    left: 50px;
    width: 400px;
    z-index: 2;

    @media (max-width: 430px) {
      top: 100px;
      left: 20px;
      width: 200px;
    }
  }

  .tools-img3 {
    top: 30px;
    left: 90px;
    z-index: 3;

    @media (max-width: 430px) {
      top: 20px;
      left: 40px;
    }
  }

  .tools-img4 {
    top: 350px;
    left: 400px;
    z-index: 4;

    @media (max-width: 430px) {
      top: 220px;
      left: 200px;
    }
  }
}

.tools-intro-container {
  width: 100%;
  padding-left: 7rem;
  
  @media (max-width: 430px) {
    padding: 0 1.5rem;
    text-align: center;
    order: 1;
  }
  
  @media (min-width: 768px) {
    width: 45%;
  }

  .tools-intro1 {
    display: flex;
    flex-direction: column;
    gap: 0;
    
    > div:first-child {
      p:first-child {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        @media (max-width: 430px) {
          font-size: 1.2rem;
        }
      }
      
      p:last-child {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 0;

        @media (max-width: 430px) {
          font-size: 1.2rem;
        }
      }
    }
    
    > div:last-child {
      p {
        margin: 0 0;
        font-size: 0.9rem;

        @media (max-width: 430px) {
          font-size: 0.8rem;
        }
      }
    }
  }
  
  .tools-intro2 {
    margin-top: 4rem;
    padding: 0.75rem 2rem;
    background-image: linear-gradient(to right, #8DC8FF 0%, #0B89FE 100%);
    color: #FFFF;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    width: 200px;
    height: 60px;

    @media (max-width: 430px) {
      order: 3;
      margin-top: 2rem;
      font-size: 1rem;
      width: 150px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}