@use "../abstract/mixins";
@use "../abstract/functions";
@use "../abstract/variables";


.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: variables.$medium-screen) {
    box-shadow: none;
  }
}

.navbar {
  @include mixins.flexBox(row, center, space-between);
  flex-wrap: wrap;
  padding:  1.5em 1.5em;
  margin: 0 auto;
  max-width: variables.$xlarge-screen;
  position: relative;
  box-sizing: border-box;
  color: #292929;

  // Navbar Logo container
  &__logo {
    display: flex;
    align-items: center;
    margin: 0 1em;
    
    img {
      max-width: 10em;
    }
  }

  // Navbar Menu container for desktop and mobile
  &__menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.menu__items {
  display: flex;
  align-items: center;
  gap: 1.7em;
  margin-left: 2.5em;
  padding: 0 1em;

  // Apply hover effect only to nav items that are NOT agent-tools
  > .menu__item:not(.dropdown):hover {
    color: variables.$hover-active-color;
  }

  > :last-child {
    margin-left: 0.5em;
  }
} 

.menu__users {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  margin-left: auto;
  flex-wrap: wrap;
  color: #000;
  
  // Mobile menu user utility menu styles
  @media screen and (max-width: variables.$medium-screen) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d9d9d9;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10%;
  }

  & > * {
    height: 35px;
  }
  
  .users__login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b89fe;
    color: #fff;
    font-size: 0.9rem;
    width: 85px;
    margin-right: 0.9rem;
    border-radius: 50px;
    padding: 0.5rem 0.75rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #4c768b;
    }

    // Mobile menu login button styles
    @media screen and (max-width: variables.$medium-screen) {
      width: 100%;
      height: 100%;
      font-size: functions.rem(16);
      margin: 0 auto;
      color: #000;
      background-color: #d9d9d9;

      // Add divider line
      border-radius: 0;
      border-right: 1.5px solid #acacac;

      &:hover {
        background-color: #d9d9d9;
      }
    }
  }

  .users__member {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    background-color: #d9d9d9;
    border-radius: 50px;
    padding: 0.5rem 0.75rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;

    // Mobile menu member button styles
    @media screen and (max-width: variables.$medium-screen) {
      margin: 0 auto;
      font-size: functions.rem(16);background-color: #d9d9d9;
      color: #000;
      height: 100%;
    }

    &:hover {
      background-color: #868686;
      color: #fff;
    
      .member__icon {
        filter: brightness(0) invert(1);

        @media screen and (max-width: variables.$medium-screen) {
          filter: brightness(0);
        }
      }

      // Mobile menu member button hover styles
      @media screen and (max-width: variables.$medium-screen) {
        background-color: #d9d9d9;
        color: #000;
      }
    }
    
    .member__icon {
      filter: brightness(0);
      max-width: 1.5em;
    }
  }
}