.hero-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('@/assets/images/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  overflow-x: hidden;
  box-sizing: border-box;
  
  .hero-content1-container {
    width: 100%;
    max-width: 1000px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
    
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    
    .content1-video-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }
}



.video-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 1rem;
  
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .play-btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80px;
    max-height: 80px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transform: translate(15%, 0);
      max-width: 40px;
      width: 40px;
      height: auto;
    }
  }
}
