.hero-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('@/assets/images/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  overflow-x: hidden;
  box-sizing: border-box;
  
  .hero-content1-container {
    width: 100%;
    max-width: 1100px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
    
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .content1-slogan-container {
      width: 100%; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.5rem;
    }
    
    .content1-video-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }
}

.content1-slogan-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #000;

  p {
    margin: 0.5rem 0;
  }

  &:first-child {
    font-size: 1.5rem;
  }

  img {
    width: 350px;
    height: auto;
  }

  p:last-of-type {
    font-size: 2rem;
  }
}

.content1-slogan-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 3rem;

  button {
    padding: 0.5rem 2rem;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;

    &:first-child {
      background-image: linear-gradient(to right, #FFEEB7 0%, #FDE46B 100%);
      color: #3E3E3E;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    &:last-child {
      border: 1.5px solid #2094FF;
      color: #2194FF;
    }
  }
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 1rem;
  
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .play-btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80px;
    max-height: 80px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transform: translate(15%, 0);
      max-width: 40px;
      width: 40px;
      height: auto;
    }
  }
}
