@use '../abstract/functions';

@mixin flexBox($direction, $alignItems, $justifyContent, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  @if ($alignItems != null) {
    align-items: $alignItems;
  }
  @if ($justifyContent != null) {
    justify-content: $justifyContent;
  }
  @if ($gap != null) {
    gap: $gap;
  }
}

@mixin showcase-label ($status: 'before') {
  max-width: 180px;
  z-index: 1;
  position: absolute;
  @if ($status == 'before') {
    top: functions.rem(40);
    left: functions.rem(0);
  } @else {
    bottom: functions.rem(40);
    right: functions.rem(0);
  }
  & > img {
    width: 100%;
  }
}

@mixin showcase-img ($status: 'before') {
  @if ($status == 'before') {
    max-width: 350px;
    margin-left: 8em; // Offset the image
  } @else {
    max-width: 350px;
    margin-right: 8em; // Offset the image
  }
  & > img {
    width: 100%;
  }
}

@mixin showcase-container ($status: 'before') {
  display: flex;
  align-items: center;
  position: relative;
  &-label {
    @include showcase-label($status);
  }
  &-img {
    @include showcase-img($status);
  }
}
