@use '../abstract/functions';

@mixin flexBox($direction, $alignItems, $justifyContent, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  @if ($alignItems != null) {
    align-items: $alignItems;
  }
  @if ($justifyContent != null) {
    justify-content: $justifyContent;
  }
  @if ($gap != null) {
    gap: $gap;
  }
}

@mixin highlight-flag {
  max-width: 250px;
    position: absolute;
    top: -2px;
    left: -1px;
    font-size: functions.rem(20);
    padding: 0.25em 1.2em;
    color: #fff;
    border-radius: 25px 0px 30px 0px;
    border: 1px solid #fff;
}

@mixin gradient-button ($color: "primary") {
  max-width: 150px;
  font-size: functions.rem(18);
  font-weight: 600;
  background-color: #fff;
  margin-top: 2em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  @if ($color == "primary") {
    color: #FFC15E;
    border: 1px solid #FFC15E;
    &:hover {
      background-color: #f8ca7f;
      color: #fff;
    }
  } @else if ($color == "secondary") {
    color: #55A3EC;
    border: 1px solid #55A3EC;
    &:hover {
      background-color: #72b1ed;
      color: #fff;
    }
  }
  border-radius: 15px;
}

@mixin showcase-label ($status: 'before') {
  max-width: 180px;
  z-index: 1;
  position: absolute;
  @if ($status == 'before') {
    top: functions.rem(40);
    left: functions.rem(0);
  } @else {
    bottom: functions.rem(40);
    right: functions.rem(0);
  }
  & > img {
    width: 100%;
  }
}

@mixin showcase-img ($status: 'before') {
  @if ($status == 'before') {
    max-width: 350px;
    margin-left: 8em; // Offset the image
  } @else {
    max-width: 350px;
    margin-right: 8em; // Offset the image
  }
  & > img {
    width: 100%;
  }
}

@mixin showcase-container ($status: 'before') {
  display: flex;
  align-items: center;
  position: relative;
  &-label {
    @include showcase-label($status);
  }
  &-img {
    @include showcase-img($status);
  }
}
