
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;
$xlarge-screen: 1440px;

$hover-active-color: #FF8817;
$hover-active-color-variant: #0b89fe;

$card-bg-color-1: #0B89FE;
$card-bg-color-2: #FF7A04;
$card-bg-color-3: #F4C81F;
