@use "./global-forward.scss" as global;

.main-layout {
  @include global.flexBox(column, null, null);
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  display: flex;
  height: 100%;
  background-color: global.$light-100;
  overflow: hidden;
}

.page {
  @include global.flexBox(column, null, null);
  position: relative;
  height: 100%;
  overflow-y: auto;
  background-color: global.$gray-50;
  flex: 1;
}

.content {
  position: relative;
  width: 100%;
  min-width: 1200px;
}
