@mixin flexBox($direction, $alignItems, $justifyContent, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  @if ($alignItems != null) {
    align-items: $alignItems;
  }
  @if ($justifyContent != null) {
    justify-content: $justifyContent;
  }
  @if ($gap != null) {
    gap: $gap;
  }
}
