@use "./layouts.scss";
@use "./components/_navbar.scss";

body,
html {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #3c3c3c;
}
